
.bg-light-dark{
   background: #020024;
}
.bg-light-white{
  background: #020024;

}

.navbar-container {
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .navbar-container h1 {
    font-size: 20px;
  }

  .navbar-container div:last-child {
    width: 100%;
    justify-content: flex-start;
    margin-top: 10px;
  }
}

